__pycache__/
*.pyc
*.pyo

wandb/
logs/
saved_models/
saved_models_orig/

raw_data/
preproc_data/

sweeps/LOS/DC/

scripts/generate_DC_raw_datasets.sh

*.pt
*.pth
*.ckpt
*.bin
*.npy
*.npz
*.log

.ipynb_checkpoints/
.DS_Store